@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Index</h1>

<p><aasp-page ="Create">View</a></p>
<table class="table">
    <tr>
        <th>First row</th>
        <th>Second column</th>
    </tr>
    <tr>
        <th>Second row</th>
    </tr>

</table>
